<?xml version="1.0"?>
<launch> 
	<param name="robot_description" textfile="$(find nanobot)/urdf/nanobot.urdf.xacro" /> 
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find nanobot)/worlds/test_env.world"/>
	</include> 
	<!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description -urdf -model nanobot "/>  -->
	<!-- Combine joint values -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

<!-- Show in Rviz   -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nanobot)/rviz/display_rviz.rviz"/> -->
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="True"/>
    </node> -->
</launch>